.sidebar{
    &[data-color="black"]:after{
        @include icon-gradient(#282828, rgba(#111,.7));
    }
    .logo-img img {
      width: 150px;
      height: 150px;
      image-rendering:crisp-edges;
      object-fit: cover;
      filter: blur(0px);
      opacity: 1;
      image-resolution:initial;

    }
}

@media (max-width: 991px){
  .sidebar .nav > li.active.active-pro {
    position: relative;
    bottom: unset;
  }
}

#bodyClick {
  position: absolute;
}
