
.text-color{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo-background .logo-img-tag {
    width: 50%;
    display: flex;
    /* justify-content:center; */
    /* align-items: center; */
}

.logo-background .logo-img-tag img {
/* height: 600px !important; */
width: 100%;
display: block;
object-fit: cover;
border-radius: 50%;
}
.container-card{
    width: 80%;
    height: 700px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container-fluid-block{
    display: flex;
    justify-content: center;
    background-color: rgb(20, 28, 53);
    overflow: hidden;
    width: 100;
    height: 100vh;
    position: absolute;

}

.form-groups{
    margin-bottom: 3px;
    width: 100%;
}
.condition-styles{
    margin-left: 5px;
}
.condition-styles:hover{
    text-decoration: underline;
    cursor: pointer;

}
.image-position{
    top: 50px;
    left: 100px;
    position: relative;

}
.incorrectStyles{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}
.promptStyles{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

/* .image-icon img{
    width: 20px !important;
    height: 20px !important;
} */