.users-modal .modal-styles-goc{
    height: 600px !important;
    width: 60% !important;
    overflow-y: auto !important;
}
.users-modal .modal{
position: fixed;
    top: 110px;
    left: 0;
    z-index: 1050;
    width: 60% !important;

    display: none;
height: auto !important; /* height: 100%; */
    /* overflow: hidden; */
    outline: 0;
}